body {
    margin: 0 auto;
    text-align: center;
}
#page {
    margin: 0 auto;
    width: 960px;
    height: 600px;
    border: 0px;
    background-color: cadetblue;
}
#header {
    border: 0px;
    height: 80px;
    background-color: lightgray;
}
#header_logo, #header_center, #header_right {
    border: 1px solid black;
    width: 318px;
    height: 78px;
    float: left;
    line-height: 78px;    
}
.menu {
    height: 30px;
    background-color: black;
    color: white;
    vertical-align: middle;
    line-height: 30px;
}
#content_left {
    box-sizing: content-box;  
    width: 330px;
    height: 300px;
    padding: 30px;  
    border: 1px solid white;
    margin: 40px;
    float: left;
}
#content_right {
    box-sizing: content-box;  
    width: 330px;
    height: 300px;
    padding: 30px;  
    border: 1px solid white;
    margin: 40px;
    float: right;
}
#footer {
    width: 960px;
    height: 30px;
    color: white;
    background-color: black;
    vertical-align: middle;
    line-height: 30px;
    margin: 0 auto;
}